.org-id-locations
bookmarks
auto-save-list/*
backup/*
elpa/*
image-dired/*
org-clock-save.el
org-roam.db
recentf
straight/*
transient/*
elpy/*
tramp
.secrets.el
history
*#*
archive.org
quelpa/*
projectile-bookmarks.eld
/myinit.el
/.DS_Store
/.cache/
/request/
/url/
*.cache
eshell
.screens_file.el
*secrets*
*screens_file.el
*.png
/nov-places
/speed-type/
/abbrev_defs
flycheck_init.el
/config/gcal.el
/.org-generic-id-locations
/org-gcal/
/.lsp-session-v1
/persist/
/org-persist/
/projects
/.log/
